@charset "UTF-8";
@use "../config";
/*----------------------------------------------------------------
DL DT DDタグ
---------------------------------------------------------------- */


dt,
dd {
	line-height: 1.5;
}

dt {
	font-weight: 700;
}

dt+dd {
	margin-top: 0.5rem;
}

dd+dt {
	margin-top: 1.5rem;
}
