@charset "UTF-8";
@use "../config";

/* Block: Embed ------------------------------ */

.wp-block-embed {
	margin-bottom: 30px;
	margin-top: 30px;
}

.wp-block[data-type*="core-embed"][data-align="center"] * {
	margin-left: auto;
	margin-right: auto;
}
