/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/scss/page.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/* =========================================================
wordpressのエディターのclass用に読み込み
========================================================= */
.editor-styles-wrapper {
  /*----------------------------------------------------------------
  /* 投稿タイトルの見た目
  ---------------------------------------------------------------- */
  /*----------------------------------------------------------------
  aタグ
  ---------------------------------------------------------------- */
  /*----------------------------------------------------------------
  wordpressのブロックエディターのロードスタイルが実行されています。上書きしたいスタイルを各所変更してください。
  ---------------------------------------------------------------- */
  /*----------------------------------------------------------------
  hタグ
  ---------------------------------------------------------------- */
  /*----------------------------------------------------------------
  pタグなど文字関連
  ---------------------------------------------------------------- */
  /*ドロップキャップ（段落の先頭1文字を大きく表示する機能） */
  /* Block: リストカスタマイズ -------------------------- */
  /*----------------------------------------------------------------
  リストタグ
  ---------------------------------------------------------------- */
  /********************************************************
  *
  * 追加ブロックスタイル
  *
  ********************************************************/
  /*----------------------------------------------------------------
  DL DT DDタグ
  ---------------------------------------------------------------- */ /* Block: 境界線カスタマイズ -------------------------- */ /* Block: クオートカスタマイズ ------------------------------ */
  /* Block:コード、詩、フォーマット済み( Code, Verse and Preformatted) ------- */
  /* ボタンカスタマイズ ------------------------------ */
  /*----------------------------------------------------------------
  インプット関連
  ---------------------------------------------------------------- */
  /********************************************************
  *
  * Block: テーブルカスタマイズ
  *
  ********************************************************/
  /********************************************************
  *
  * 追加ブロックスタイル
  *
  ********************************************************/
  /* STYLE: テーブルストライプ */
  /* 一番左側色付きヘッダー */
  /* 一番左側色付きヘッダーで改行しない */
  /* Block: 共有ウィジェットスタイル-------------- */ /* Block: シェアメディアスタイル ---------------- */ /* Block: Shortcodeカスタマイズ -------------------------- */
  /* Block: Embed ------------------------------ */ /* Block: File ------------------------------- */ /* Block: Image ------------------------------ */
  /* Block:ギャラリー ------------------------------ */
  /* Block: Group ------------------------------ */
  /* BLOCK: COLUMNS */
  /* BLOCK: COLUMNS */
  /* Block: シェアメディアスタイル ---------------- */
}
.editor-styles-wrapper .wp-block.editor-post-title__block {
  max-width: 1200px;
}
.editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
  font-family: "YakuHanJP", "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.4;
  display: block;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
    font-size: 3rem;
  }
}
.editor-styles-wrapper a {
  color: #00a2b7;
  text-decoration: underline;
}
.editor-styles-wrapper a:hover {
  text-decoration: none;
  color: #007EFF;
}
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
  display: block;
  font-weight: bold;
}
.editor-styles-wrapper h1[class~=rich-text],
.editor-styles-wrapper h1:not(.noteditor) {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.4;
  display: block;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper h1[class~=rich-text],
.editor-styles-wrapper h1:not(.noteditor) {
    font-size: 3rem;
  }
}
.editor-styles-wrapper h2[data-type="core/heading"],
.editor-styles-wrapper h2:not(.noteditor) {
  padding: 0.3em 0.8em;
  font-size: clamp(2rem, 2vw, 2.2rem);
  color: #fff;
  margin-bottom: 0.5em;
  line-height: 1.4;
  position: relative;
  display: block;
  background: linear-gradient(135deg, #38D642 0%, #00a2b7 100%);
}
.editor-styles-wrapper h2.is-style-kazarinashi {
  line-height: 1.4;
  display: block;
  padding: 0;
  background: none;
  color: inherit;
}
.editor-styles-wrapper h3[data-type="core/heading"],
.editor-styles-wrapper h3:not(.noteditor) {
  background-color: #f7f7f7;
  color: #000;
  line-height: 1.2;
  font-size: 1.8rem;
  padding: 0.4em 0.5em;
  display: block;
  position: relative;
  margin-bottom: 0.5em;
  border-left: 5px solid #00a2b7;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper h3[data-type="core/heading"],
.editor-styles-wrapper h3:not(.noteditor) {
    font-size: 2rem;
  }
}
.editor-styles-wrapper h3[data-type="core/heading"]::after,
.editor-styles-wrapper h3:not(.noteditor)::after {
  display: none;
}
.editor-styles-wrapper h3.is-style-kazarinashi {
  line-height: 1.4;
  display: block;
  padding: 0;
  background: none;
  border-left: none;
  color: inherit;
}
.editor-styles-wrapper h4[data-type="core/heading"],
.editor-styles-wrapper h4:not(.noteditor) {
  padding: 0 0 0.5em;
  font-weight: bold;
  line-height: 1.4;
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #00a2b7;
  color: #00a2b7;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper h4[data-type="core/heading"],
.editor-styles-wrapper h4:not(.noteditor) {
    font-size: 1.8rem;
  }
}
.editor-styles-wrapper h4.is-style-kazarinashi {
  line-height: 1.4;
  display: block;
  padding: 0;
  background: none;
  border-left: none;
  color: inherit;
  border-bottom: none;
}
.editor-styles-wrapper h5[data-type="core/heading"],
.editor-styles-wrapper h5:not(.noteditor) {
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 0.5em;
  padding-left: 1.2em;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper h5[data-type="core/heading"],
.editor-styles-wrapper h5:not(.noteditor) {
    font-size: 1.7rem;
  }
}
.editor-styles-wrapper h5[data-type="core/heading"]::before,
.editor-styles-wrapper h5:not(.noteditor)::before {
  content: "";
  position: absolute;
  background-color: #00a2b7;
  width: 1em;
  height: 1em;
  left: 0;
  top: 0.25em;
  display: inline-block;
}
.editor-styles-wrapper h5.is-style-kazarinashi {
  line-height: 1.4;
  display: block;
  padding: 0;
  background: none;
  border-left: none;
  color: inherit;
}
.editor-styles-wrapper h5.is-style-kazarinashi::before {
  display: none;
}
.editor-styles-wrapper h6[data-type="core/heading"],
.editor-styles-wrapper h6:not(.noteditor) {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper h6[data-type="core/heading"],
.editor-styles-wrapper h6:not(.noteditor) {
    font-size: 1.6rem;
  }
}
.editor-styles-wrapper h6.is-style-kazarinashi {
  line-height: 1.4;
  display: block;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
}
.editor-styles-wrapper * + h1[data-type="core/heading"],
.editor-styles-wrapper * + h1:not(.noteditor) {
  margin-top: 3em;
}
.editor-styles-wrapper * + h2[data-type="core/heading"],
.editor-styles-wrapper * + h2:not(.noteditor) {
  margin-top: 2em;
}
.editor-styles-wrapper * + h3[data-type="core/heading"],
.editor-styles-wrapper * + h3:not(.noteditor) {
  margin-top: 1.5em;
}
.editor-styles-wrapper * + h4[data-type="core/heading"],
.editor-styles-wrapper * + h4:not(.noteditor) {
  margin-top: 1.5em;
}
.editor-styles-wrapper * + h5[data-type="core/heading"],
.editor-styles-wrapper * + h5:not(.noteditor) {
  margin-top: 1.5em;
}
.editor-styles-wrapper * + h6[data-type="core/heading"],
.editor-styles-wrapper * + h6:not(.noteditor) {
  margin-top: 1.5em;
}
.editor-styles-wrapper .components-button[aria-label=見出し1] {
  display: none;
}
.editor-styles-wrapper p:not(.noteditor) {
  line-height: 1.8;
  margin-bottom: 1em;
}
.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter {
  color: #00a2b7;
  font-size: 3em;
  font-weight: 800;
  margin: 0.05em 0.1em 0 0;
}
.editor-styles-wrapper em,
.editor-styles-wrapper q,
.editor-styles-wrapper dfn {
  font-style: italic;
}
.editor-styles-wrapper em em,
.editor-styles-wrapper em i,
.editor-styles-wrapper i em,
.editor-styles-wrapper i i,
.editor-styles-wrapper cite em,
.editor-styles-wrapper cite i {
  font-weight: bolder;
}
.editor-styles-wrapper big {
  font-size: 1.2em;
}
.editor-styles-wrapper small {
  font-size: 0.75em;
}
.editor-styles-wrapper b,
.editor-styles-wrapper strong {
  font-weight: 700;
}
.editor-styles-wrapper ins {
  text-decoration: underline;
}
.editor-styles-wrapper sub,
.editor-styles-wrapper sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.editor-styles-wrapper sup {
  top: -0.5em;
}
.editor-styles-wrapper sub {
  bottom: -0.25em;
}
.editor-styles-wrapper abbr,
.editor-styles-wrapper acronym {
  cursor: help;
}
.editor-styles-wrapper address {
  line-height: 1.5;
  margin: 0 0 2rem 0;
}
.editor-styles-wrapper ul[class~=rich-text],
.editor-styles-wrapper ul:not(.noteditor):not([class*=acf-]):not([class*=blocks-]):not([class*=block-]) {
  box-sizing: border-box;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0.5em;
  line-height: 1.4;
}
.editor-styles-wrapper ul[class~=rich-text] > li,
.editor-styles-wrapper ul:not(.noteditor):not([class*=acf-]):not([class*=blocks-]):not([class*=block-]) > li {
  margin-bottom: 0.5em;
  position: relative;
  padding-left: 1.2em;
}
.editor-styles-wrapper ul[class~=rich-text] > li:before,
.editor-styles-wrapper ul:not(.noteditor):not([class*=acf-]):not([class*=blocks-]):not([class*=block-]) > li:before {
  content: "";
  width: 1em;
  height: 1em;
  display: inline-block;
  background-color: #00a2b7;
  border-radius: 50%;
  position: absolute;
  top: 0.3em;
  left: 0;
  margin-right: 5px;
}
.editor-styles-wrapper ul[class~=rich-text] > li > ul,
.editor-styles-wrapper ul:not(.noteditor):not([class*=acf-]):not([class*=blocks-]):not([class*=block-]) > li > ul {
  margin-top: 0.5em !important;
  padding-left: 1.1em !important;
}
.editor-styles-wrapper ul[class~=rich-text] > li > ul > li,
.editor-styles-wrapper ul:not(.noteditor):not([class*=acf-]):not([class*=blocks-]):not([class*=block-]) > li > ul > li {
  padding-left: 0 !important;
  list-style-type: disc;
}
.editor-styles-wrapper ul[class~=rich-text] > li > ul > li:before,
.editor-styles-wrapper ul:not(.noteditor):not([class*=acf-]):not([class*=blocks-]):not([class*=block-]) > li > ul > li:before {
  display: none !important;
}
.editor-styles-wrapper ol[class~=rich-text],
.editor-styles-wrapper ol:not(.noteditor):not([class*=acf-]):not([class*=blocks-]) {
  line-height: 1.4;
  margin-bottom: 0.5em;
  list-style: decimal;
  padding-left: 0;
}
.editor-styles-wrapper ol[class~=rich-text] li,
.editor-styles-wrapper ol:not(.noteditor):not([class*=acf-]):not([class*=blocks-]) li {
  margin-bottom: 0.5em;
  margin-left: 1.8em;
}
.editor-styles-wrapper .reset-list-style,
.editor-styles-wrapper .reset-list-style ul,
.editor-styles-wrapper .reset-list-style ol {
  list-style: none;
  margin: 0;
}
.editor-styles-wrapper .reset-list-style li {
  margin: 0;
}
.editor-styles-wrapper .acf-input ul li:before {
  display: none !important;
}
.editor-styles-wrapper .acf-input ul li {
  padding: 5px !important;
}
.editor-styles-wrapper .flexList,
.editor-styles-wrapper .is-style-flexList,
.editor-styles-wrapper [class*=flexList-3col] {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper .flexList,
.editor-styles-wrapper .is-style-flexList,
.editor-styles-wrapper [class*=flexList-3col] {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px ) {
  .editor-styles-wrapper .flexList,
.editor-styles-wrapper .is-style-flexList,
.editor-styles-wrapper [class*=flexList-3col] {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.editor-styles-wrapper [class*=flexList-2col] {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper [class*=flexList-2col] {
    grid-template-columns: 1fr 1fr;
  }
}
.editor-styles-wrapper [class*=flexList-4col] {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper [class*=flexList-4col] {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px ) {
  .editor-styles-wrapper [class*=flexList-4col] {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.editor-styles-wrapper [class*=flexList-auto] {
  display: -webkit-flex;
  display: flex;
  gap: 1em;
}
.editor-styles-wrapper [class*=flexList-auto] li {
  display: inline-block;
}
.editor-styles-wrapper dt,
.editor-styles-wrapper dd {
  line-height: 1.5;
}
.editor-styles-wrapper dt {
  font-weight: 700;
}
.editor-styles-wrapper dt + dd {
  margin-top: 0.5rem;
}
.editor-styles-wrapper dd + dt {
  margin-top: 1.5rem;
}
.editor-styles-wrapper .wp-block-separator {
  border-bottom: 1px solid;
}
.editor-styles-wrapper .wp-block-quote {
  border-left: 0.25em solid #00a2b7;
  margin: 0 0 1.75em 0;
  padding-left: 1em;
}
.editor-styles-wrapper .wp-block-quote cite,
.editor-styles-wrapper .wp-block-quote footer {
  color: #666;
  font-size: 0.8125em;
  position: relative;
  font-style: normal;
}
.editor-styles-wrapper .wp-block-quote.has-text-align-right {
  border-left: none;
  border-right: 0.25em solid #00a2b7;
  padding-left: 0;
  padding-right: 1em;
}
.editor-styles-wrapper .wp-block-quote.has-text-align-center {
  border: none;
  padding-left: 0;
}
.editor-styles-wrapper .wp-block-quote.is-style-plain, .editor-styles-wrapper .wp-block-quote.is-style-large, .editor-styles-wrapper .wp-block-quote.is-large {
  border: none;
}
.editor-styles-wrapper .wp-block-code {
  color: inherit;
  border: 1px solid #f7f7f7;
  border-radius: 0;
  padding: 30px;
}
.editor-styles-wrapper .wp-block-preformatted,
.editor-styles-wrapper .wp-block-verse {
  border: 1px solid #f7f7f7;
  border-radius: 0;
  padding: 30px;
}
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce,
.editor-styles-wrapper .wp-block-preformatted,
.editor-styles-wrapper .wp-block-code .block-editor-plain-text,
.editor-styles-wrapper .wp-block-verse {
  background: transparent;
  color: inherit;
  font-family: monospace;
  font-size: 14px;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce,
.editor-styles-wrapper .wp-block-preformatted,
.editor-styles-wrapper .wp-block-code .block-editor-plain-text,
.editor-styles-wrapper .wp-block-verse {
    font-size: 16px;
  }
}
.editor-styles-wrapper code,
.editor-styles-wrapper kbd,
.editor-styles-wrapper pre,
.editor-styles-wrapper samp {
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.4rem 0.6rem;
}
.editor-styles-wrapper code,
.editor-styles-wrapper kbd,
.editor-styles-wrapper samp {
  background: rgba(0, 0, 0, 0.075);
  border-radius: 0.2rem;
}
.editor-styles-wrapper pre {
  border: 0.1rem solid #f7f7f7;
  line-height: 1.5;
  margin: 4rem 0;
  overflow: auto;
  padding: 3rem 2rem;
  text-align: left;
}
.editor-styles-wrapper pre code {
  background: transparent;
  padding: 0;
}
.editor-styles-wrapper .wp-block-buttons {
  margin-bottom: 1em;
}
.editor-styles-wrapper .wp-block-button__link {
  position: relative;
  padding: 1.1em 1.5em;
}
.editor-styles-wrapper .wp-block-button__link:before {
  color: inherit;
  margin-right: 3px;
  content: "\f0a9";
  font-family: "Font Awesome 6 Free";
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
}
.editor-styles-wrapper .wp-block-button__link:hover {
  background-color: #007EFF !important;
  color: #fff;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link {
  border-color: #00a2b7;
  color: #00a2b7;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:hover {
  background-color: #007EFF;
  color: #fff;
  border-color: #007EFF;
}
.editor-styles-wrapper fieldset {
  border: 0.2rem solid #eff3f9;
  padding: 2rem;
}
.editor-styles-wrapper legend {
  font-size: 0.85em;
  font-weight: 700;
  padding: 0 1rem;
}
.editor-styles-wrapper label {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}
.editor-styles-wrapper label.inline,
.editor-styles-wrapper input[type=checkbox] + label {
  display: inline;
  font-weight: 400;
  margin-left: 0.5rem;
}
.editor-styles-wrapper input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: 2px;
  display: inline-block;
  margin: 0;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  background: #ffffff;
  border-radius: 0;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #84919e;
  box-shadow: none;
  cursor: pointer;
}
.editor-styles-wrapper input[type=checkbox]:checked::before {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23000000%27%2F%3E%3C%2Fsvg%3E");
  position: absolute;
  display: inline-block;
  margin: -0.2rem 0 0 -0.25rem;
  height: 1.75rem;
  width: 1.75rem;
  top: 0;
  left: 0;
  line-height: 1;
}
.editor-styles-wrapper input[type=checkbox][id^=acf-] {
  top: 0;
}
.editor-styles-wrapper .button,
.editor-styles-wrapper .faux-button,
.editor-styles-wrapper .wp-block-button__link,
.editor-styles-wrapper .wp-block-file__button {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1;
}
@supports (font-variation-settings: normal) {
  .editor-styles-wrapper input,
.editor-styles-wrapper textarea,
.editor-styles-wrapper button,
.editor-styles-wrapper .button,
.editor-styles-wrapper .faux-button,
.editor-styles-wrapper .faux-button.more-link,
.editor-styles-wrapper .wp-block-button__link,
.editor-styles-wrapper .wp-block-file__button {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  }
}
.editor-styles-wrapper input,
.editor-styles-wrapper textarea {
  border-color: #eff3f9;
  color: #000;
}
.editor-styles-wrapper code,
.editor-styles-wrapper input[type=url],
.editor-styles-wrapper input[type=email],
.editor-styles-wrapper input[type=tel] {
  /*rtl:ignore*/
  direction: ltr;
}
.editor-styles-wrapper input[type=text],
.editor-styles-wrapper input[type=password],
.editor-styles-wrapper input[type=email],
.editor-styles-wrapper input[type=url],
.editor-styles-wrapper input[type=date],
.editor-styles-wrapper input[type=month],
.editor-styles-wrapper input[type=time],
.editor-styles-wrapper input[type=datetime],
.editor-styles-wrapper input[type=datetime-local],
.editor-styles-wrapper input[type=week],
.editor-styles-wrapper input[type=number],
.editor-styles-wrapper input[type=search],
.editor-styles-wrapper input[type=tel],
.editor-styles-wrapper input[type=color],
.editor-styles-wrapper textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #ffffff;
  border-radius: 0;
  border-style: solid;
  border-width: 0.1rem;
  box-shadow: none;
  display: block;
  font-size: 1.6rem;
  letter-spacing: -0.015em;
  margin: 0;
  max-width: 100%;
  padding: 0.5em;
  width: 100%;
}
.editor-styles-wrapper select {
  font-size: 1em;
}
.editor-styles-wrapper textarea {
  height: 12rem;
  line-height: 1.5;
  width: 100%;
}
.editor-styles-wrapper input::-webkit-input-placeholder {
  line-height: normal;
}
.editor-styles-wrapper input:-ms-input-placeholder {
  line-height: normal;
}
.editor-styles-wrapper input::-moz-placeholder {
  line-height: revert;
  /* Reset to the value from the user-agent stylesheet. */
}
.editor-styles-wrapper input[type=search]::-webkit-search-decoration,
.editor-styles-wrapper input[type=search]::-webkit-search-cancel-button,
.editor-styles-wrapper input[type=search]::-webkit-search-results-button,
.editor-styles-wrapper input[type=search]::-webkit-search-results-decoration {
  display: none;
}
.editor-styles-wrapper .button,
.editor-styles-wrapper .faux-button,
.editor-styles-wrapper .wp-block-button__link,
.editor-styles-wrapper .wp-block-file .wp-block-file__button,
.editor-styles-wrapper input[type=button],
.editor-styles-wrapper input[type=reset],
.editor-styles-wrapper input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #00a2b7;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  opacity: 1;
  padding: 1.1em 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s linear;
  color: #ffffff;
}
.editor-styles-wrapper .button:focus,
.editor-styles-wrapper .button:hover,
.editor-styles-wrapper .faux-button:focus,
.editor-styles-wrapper .faux-button:hover,
.editor-styles-wrapper .wp-block-button .wp-block-button__link:focus,
.editor-styles-wrapper .wp-block-button .wp-block-button__link:hover,
.editor-styles-wrapper .wp-block-file .wp-block-file__button:focus,
.editor-styles-wrapper .wp-block-file .wp-block-file__button:hover,
.editor-styles-wrapper input[type=button]:focus,
.editor-styles-wrapper input[type=button]:hover,
.editor-styles-wrapper input[type=reset]:focus,
.editor-styles-wrapper input[type=reset]:hover,
.editor-styles-wrapper input[type=submit]:focus,
.editor-styles-wrapper input[type=submit]:hover {
  background-color: #007EFF;
  color: #fff;
}
.editor-styles-wrapper input[type=text]:focus,
.editor-styles-wrapper input[type=email]:focus,
.editor-styles-wrapper input[type=url]:focus,
.editor-styles-wrapper input[type=password]:focus,
.editor-styles-wrapper input[type=number]:focus,
.editor-styles-wrapper input[type=tel]:focus,
.editor-styles-wrapper input[type=range]:focus,
.editor-styles-wrapper input[type=date]:focus,
.editor-styles-wrapper input[type=month]:focus,
.editor-styles-wrapper input[type=week]:focus,
.editor-styles-wrapper input[type=time]:focus,
.editor-styles-wrapper input[type=datetime]:focus,
.editor-styles-wrapper input[type=datetime-local]:focus,
.editor-styles-wrapper input[type=color]:focus,
.editor-styles-wrapper textarea:focus {
  border-color: currentColor;
}
.editor-styles-wrapper input[type=search]:focus {
  outline: thin dotted;
  outline-offset: -4px;
}
.editor-styles-wrapper .wp-block-table {
  overflow: inherit;
}
.editor-styles-wrapper table {
  border: 1px solid #84919e;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  background-color: #fff;
  margin: 1rem 0;
  width: 100%;
  max-width: 100%;
  font-size: 1.4rem;
}
.editor-styles-wrapper table * {
  border-color: #eff3f9;
}
.editor-styles-wrapper table tr {
  border: none;
}
.editor-styles-wrapper table caption {
  background: #eff3f9;
  text-align: center;
}
.editor-styles-wrapper table th,
.editor-styles-wrapper table td {
  border: 1px solid #84919e;
  line-height: 1.4;
  margin: 0;
  overflow: visible;
  padding: 0.5em;
  vertical-align: top;
}
.editor-styles-wrapper table thead th,
.editor-styles-wrapper table thead td {
  text-align: center !important;
}
.editor-styles-wrapper table .wp-block-table__cell-content {
  padding: 1em;
}
.editor-styles-wrapper table thead {
  border-bottom: none;
  vertical-align: bottom;
  white-space: nowrap;
  text-align: inherit;
}
.editor-styles-wrapper table thead th,
.editor-styles-wrapper table thead td {
  background-color: rgba(0, 162, 183, 0.8);
  color: #fff;
}
.editor-styles-wrapper table tbody th {
  background-color: #f7f7f7;
}
.editor-styles-wrapper table tfoot {
  border-top: 1px solid;
}
.editor-styles-wrapper table tfoot th,
.editor-styles-wrapper table tfoot td {
  background-color: #eff3f9;
}
.editor-styles-wrapper .is-style-stripes {
  border-bottom: none !important;
}
.editor-styles-wrapper .is-style-stripes table {
  border: 1px solid #84919e;
}
.editor-styles-wrapper .is-style-stripes table tbody tr:nth-child(odd) {
  background: #eff3f9;
}
.editor-styles-wrapper .is-style-stripes table th,
.editor-styles-wrapper .is-style-stripes table td {
  border-color: #84919e;
}
.editor-styles-wrapper .is-style-tbody-firstCellHead table tr td:first-child {
  background-color: #f7f7f7;
}
.editor-styles-wrapper .is-style-tbody-firstCellHead-nowrap table tr td:first-child {
  white-space: nowrap !important;
  background-color: #f7f7f7;
}
.editor-styles-wrapper .is-style-tbody-firstCellHead-nowrap table tr td:first-child .wp-block-table__cell-content {
  white-space: nowrap !important;
}
.editor-styles-wrapper ul.wp-block-archives, .editor-styles-wrapper ul.wp-block-categories, .editor-styles-wrapper ul.wp-block-latest-posts {
  font-family: inherit;
  list-style: none;
  margin: 40px 0;
  padding-left: 0;
}
.editor-styles-wrapper ul.wp-block-categories__list {
  font-family: inherit;
  list-style: none;
  margin: 40px 0;
  padding-left: 0;
}
.editor-styles-wrapper ul.wp-block-categories__list ul {
  margin: 0;
}
.editor-styles-wrapper ul.wp-block-archives li, .editor-styles-wrapper ul.wp-block-categories li, .editor-styles-wrapper ul.wp-block-latest-posts li, .editor-styles-wrapper ul.wp-block-categories__list li {
  color: #38D642;
  line-height: 1.476;
  margin: 5px 0 0 0;
}
.editor-styles-wrapper ul.wp-block-archives li li, .editor-styles-wrapper ul.wp-block-categories li li, .editor-styles-wrapper ul.wp-block-categories__list li li, .editor-styles-wrapper ul.wp-block-latest-posts li li {
  margin-left: 20px;
}
.editor-styles-wrapper .wp-block-archives li > a,
.editor-styles-wrapper .wp-block-categories li > a,
.editor-styles-wrapper .wp-block-latest-posts li > a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.editor-styles-wrapper .wp-block-archives li > a:focus, .editor-styles-wrapper .wp-block-archives li > a:hover {
  font-weight: 700;
  text-decoration: none;
}
.editor-styles-wrapper .wp-block-categories li > a:focus, .editor-styles-wrapper .wp-block-categories li > a:hover {
  font-weight: 700;
  text-decoration: none;
}
.editor-styles-wrapper .wp-block-latest-posts li > a:focus, .editor-styles-wrapper .wp-block-latest-posts li > a:hover {
  font-weight: 700;
  text-decoration: none;
}
.editor-styles-wrapper .wp-block-archives.aligncenter,
.editor-styles-wrapper .wp-block-categories.aligncenter {
  text-align: center;
}
.editor-styles-wrapper .wp-block-latest-comments time,
.editor-styles-wrapper .wp-block-latest-posts time {
  color: #38D642;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.476;
  margin-top: 0.15em;
}
.editor-styles-wrapper .wp-block[data-type*=core-embed][data-align=full] figcaption,
.editor-styles-wrapper .wp-block[data-type="core/image"][data-align=full] figcaption,
.editor-styles-wrapper .wp-block[data-type="core/gallery"][data-align=full] .blocks-gallery-caption {
  padding: 0 14px;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper .wp-block[data-type*=core-embed][data-align=full] figcaption,
.editor-styles-wrapper .wp-block[data-type="core/image"][data-align=full] figcaption,
.editor-styles-wrapper .wp-block[data-type="core/gallery"][data-align=full] .blocks-gallery-caption {
    padding: 0 45px;
  }
}
.editor-styles-wrapper .wp-block-shortcode textarea {
  color: #191e23;
}
.editor-styles-wrapper .wp-block-embed {
  margin-bottom: 30px;
  margin-top: 30px;
}
.editor-styles-wrapper .wp-block[data-type*=core-embed][data-align=center] * {
  margin-left: auto;
  margin-right: auto;
}
.editor-styles-wrapper .wp-block-file {
  background: none;
  padding: 0;
}
.editor-styles-wrapper .wp-block-file {
  margin-bottom: 1em;
  line-height: 1.6;
}
.editor-styles-wrapper .wp-block-file .wp-block-file__textlink,
.editor-styles-wrapper .wp-block-file a {
  color: #00a2b7;
  font-weight: bold;
  text-decoration: underline;
}
.editor-styles-wrapper .wp-block-file .wp-block-file__textlink:focus, .editor-styles-wrapper .wp-block-file .wp-block-file__textlink:hover,
.editor-styles-wrapper .wp-block-file a:focus,
.editor-styles-wrapper .wp-block-file a:hover {
  text-decoration: none;
  color: #007EFF;
}
.editor-styles-wrapper .wp-block-file .wp-block-file__button {
  margin-left: 0.75em;
  padding: 1em 1.25em;
}
.editor-styles-wrapper .wp-block-image {
  margin-bottom: 1;
}
.editor-styles-wrapper .wp-block-image.is-style-imgShadow {
  box-shadow: 10px 17.321px 40px 0px rgba(7, 15, 52, 0.2);
}
.editor-styles-wrapper .wp-block-image figcaption {
  text-align: center;
  line-height: 1.2;
  font-size: 1.2rem;
}
.editor-styles-wrapper figure.wp-block-image:not(.wp-block) {
  margin-bottom: 1em;
}
.editor-styles-wrapper .wp-block-gallery {
  /* Block:ギャラリーの黒いグラデなくすよ*/
  /* Block:ギャラリークロップの文字サイズ*/
}
.editor-styles-wrapper .wp-block-gallery .wp-block-image figcaption {
  line-height: 1.2;
  padding: 1.2em 0.77em 0.7em;
  transition: all 0.3s linear;
  overflow: hidden;
}
.editor-styles-wrapper .wp-block-gallery.is-style-touitsu-gallery .wp-block-image:not(#individual-image),
.editor-styles-wrapper .wp-block-gallery.is-style-touitsu-gallery .blocks-gallery-item:not(#individual-image) {
  -webkit-flex-grow: inherit;
          flex-grow: inherit;
}
.editor-styles-wrapper .wp-block-gallery.is-style-center-gallery {
  -webkit-justify-content: center;
          justify-content: center;
}
.editor-styles-wrapper .wp-block-gallery.is-style-spmax-gallery .wp-block-image:not(#individual-image),
.editor-styles-wrapper .wp-block-gallery.is-style-spmax-gallery .blocks-gallery-item:not(#individual-image) {
  -webkit-flex-grow: inherit;
          flex-grow: inherit;
}
@media screen and (max-width: 575px ) {
  .editor-styles-wrapper .wp-block-gallery.is-style-spmax-gallery .wp-block-image:not(#individual-image),
.editor-styles-wrapper .wp-block-gallery.is-style-spmax-gallery .blocks-gallery-item:not(#individual-image) {
    width: 100%;
    margin: 0 0 var(--gallery-block--gutter-size, 16px) 0;
  }
}
.editor-styles-wrapper .wp-block-gallery.has-nested-images:not(.is-cropped) figure.wp-block-image:not(#individual-image) {
  margin-bottom: var(--gallery-block--gutter-size);
}
.editor-styles-wrapper .wp-block-gallery.has-nested-images:not(.is-cropped) figure.wp-block-image:not(#individual-image) img {
  margin-bottom: initial;
}
.editor-styles-wrapper .wp-block-gallery.has-nested-images:not(.is-cropped) figure.wp-block-image:not(#individual-image) figcaption {
  bottom: initial;
}
.editor-styles-wrapper .wp-block-gallery.has-nested-images:not(.is-cropped) figure.wp-block-image figcaption {
  position: relative;
  background: none;
  color: #000;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0;
  overflow: initial;
  max-height: initial;
  font-size: 1.2rem;
  line-height: 1.2;
}
.editor-styles-wrapper .wp-block-gallery .blocks-gallery-grid .blocks-gallery-item figcaption {
  font-size: 1.2rem;
  line-height: 1.2;
}
.editor-styles-wrapper .wp-block-group {
  margin-bottom: 1em;
}
.editor-styles-wrapper .wp-block-group.has-background {
  padding: 15px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper .wp-block-group.has-background {
    padding: 30px;
  }
}
.editor-styles-wrapper .wp-block-group.is-style-groupBorder {
  border: 1px solid #84919e;
  padding: 20px 20px;
}
@media screen and (max-width: 767px ) {
  .editor-styles-wrapper .wp-block-group.is-style-groupBorder {
    padding: 15px 15px;
  }
}
.editor-styles-wrapper .wp-block-group__inner-container > *:first-child {
  margin-top: 0 !important;
}
.editor-styles-wrapper .wp-block-group__inner-container > *:last-child {
  margin-bottom: 0 !important;
}
.editor-styles-wrapper .wp-block-heading > .rich-text {
  margin-top: 0 !important;
}
.editor-styles-wrapper .wp-block-group [data-type="core/heading"]:first-child * {
  margin-top: 0;
}
.editor-styles-wrapper [data-type="core/group"] > .editor-block-list__block-edit > div > .wp-block-group.has-background > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align=full],
.editor-styles-wrapper [data-type="core/group"][data-align=full] > .editor-block-list__block-edit > div > .wp-block-group.has-background > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align=full] {
  margin-left: 0;
  width: 100%;
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper .wp-block:not([data-align=wide]):not([data-align=full]) div:not([class*=__inner-container]) .wp-block-group.has-background {
    padding: 30px;
  }
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper .wp-block div[class*=__inner-container] .wp-block[data-align=wide] .wp-block-group.has-background, .editor-styles-wrapper .wp-block div[class*=__inner-container] .wp-block[data-align=full] .wp-block-group.has-background {
    padding: 30px;
  }
}
@media screen and (min-width: 768px ) {
  .editor-styles-wrapper .wp-block[data-align=wide] .wp-block-group.has-background, .editor-styles-wrapper .wp-block[data-align=full] .wp-block-group.has-background {
    padding: 30px;
  }
}
.editor-styles-wrapper .wp-block-columns {
  margin-bottom: 1em;
}
@media screen and (max-width: 767px ) {
  .editor-styles-wrapper .wp-block-column.wp-block-column-sp-reverse {
    -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 600px) {
  .editor-styles-wrapper .wp-block-media-text__media {
    margin-bottom: 10px;
  }
}
.editor-styles-wrapper .wp-block-media-text__content {
  padding: 0 8%;
}
@media (max-width: 600px) {
  .editor-styles-wrapper .wp-block-media-text__content {
    padding: 0 0;
  }
}

/* =========================================================
#contents
========================================================= */
/*----------------------------------------------------------------
wordpressの構造のもの
---------------------------------------------------------------- */
.editor-styles-wrapper > .alignwide {
  max-width: 1200px;
  width: calc(100% - var(--wp--custom--spacing--outer));
  margin-right: auto;
  margin-left: auto;
}
.editor-styles-wrapper > .alignfull {
  width: 100vw;
}
.editor-styles-wrapper > :not(.alignwide):not(.alignfull) {
  max-width: 992px;
  width: calc(100% - var(--wp--custom--spacing--outer));
  margin-left: auto;
  margin-right: auto;
}

/* =========================================================
.contentWrap
========================================================= */
.contentWrap {
  position: relative;
  z-index: 0;
}

.contentMain {
  padding: 50px 0 50px;
  margin: 0 auto;
}
@media screen and (min-width: 768px ) {
  .contentMain {
    padding: 50px 0 50px;
  }
}

.contentRow {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  max-width: 1600px;
}

.contentRow .contentMain {
  width: 100%;
  padding: 50px 0 50px;
  margin: 0;
}
@media screen and (min-width: 1200px ) {
  .contentRow .contentMain {
    width: calc(100% - 270px);
  }
}

.contentRow .contentSide {
  width: 100%;
  margin: 0 0 0px;
  padding: 30px 0 30px;
}
@media screen and (min-width: 1200px ) {
  .contentRow .contentSide {
    width: 240px;
    padding: 50px 0 50px;
  }
}

/************************************
** サイドエリア
************************************/
.contentSide > .side-area:first-child > *:first-child {
  margin-top: 0 !important;
}

.side-area h2,
.side-area h3,
.side-area h4,
.side-area h5,
.side-area h6 {
  margin: 1.5em 0 0.4em;
  padding: 0.3em 0.5em;
  font-weight: bold;
  line-height: 1.4;
  font-size: 1.6rem;
  margin-bottom: 0.4em;
  border-left: 3px solid #00a2b7;
  padding-left: 0.3em;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px ) {
  .side-area h2,
.side-area h3,
.side-area h4,
.side-area h5,
.side-area h6 {
    font-size: 1.6rem;
  }
}
.side-area ul li {
  display: block;
  line-height: 1.4;
  padding: 0.3em 0 0.3em 1.1em;
}
.side-area ul li .post-date {
  display: block;
  font-size: 1.2rem;
  color: #00a2b7;
}
.side-area ul li a {
  position: relative;
  color: #000;
}
.side-area ul li a:hover {
  color: #007EFF;
}
.side-area ul li + li {
  border-top: 1px dotted #00a2b7;
}

/*アイコン*/
.side-area ul li a::before {
  content: "\f138";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: inherit;
  text-rendering: auto;
  margin-right: 0.2em;
  position: absolute;
  left: -1.1em;
}

.sideMenuBox {
  margin-bottom: 30px;
}
.sideMenuBox h3 {
  font-weight: bold;
  border-top: 2px solid #84919e;
  border-bottom: 1px solid #84919e;
  padding: 0.7em 0 0.7em 5px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-size: 1.8rem;
  position: relative;
}

.sideChildPageList {
  display: block;
}
@media screen and (min-width: 576px ) {
  .sideChildPageList {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px ) {
  .sideChildPageList {
    display: block;
  }
}
.sideChildPageList li {
  line-height: 1.2;
  padding: 0.3em 1em 0.3em 1.5em;
}
.sideChildPageList li a {
  position: relative;
  color: #000;
}
.sideChildPageList li a:hover {
  text-decoration: underline;
  color: #007EFF;
}
.sideChildPageList li a::before {
  content: "\f138";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: inherit;
  text-rendering: auto;
  color: #00a2b7;
  margin-right: 0.2em;
  position: absolute;
  left: -1.1em;
  top: 0.2em;
}

.sideMenuBox .newsList li:first-child {
  padding-top: 0;
}
@media screen and (min-width: 768px ) {
  .sideMenuBox .newsList li {
    -webkit-flex-direction: column;
            flex-direction: column;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px ) {
  .sideMenuBox .newsList .news-date {
    font-size: 1.4rem;
    color: #84919e;
  }
}

/* =========================================================
#pageHero
========================================================= */
#pageHero {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%;
  padding: 5rem 0 3rem;
}
@media screen and (min-width: 768px ) {
  #pageHero {
    padding: 10rem 0 7rem;
  }
}
#pageHero .pageHero-titleWrap {
  position: relative;
}
#pageHero .pageHero-parenttitle {
  position: relative;
  color: #fff;
  font-weight: bold;
  display: block;
  line-height: 1;
  font-size: clamp(1.4rem, 2.6vw, 2rem);
  z-index: 2;
}
#pageHero .pageHero-parenttitle span {
  padding: 0.1em 0.2em;
  line-height: 1.2;
  background-color: #00a2b7;
  display: inline-block;
}
#pageHero .pageHero-title {
  color: #00a2b7;
  position: relative;
  line-height: 1.2;
  font-size: clamp(2.2rem, 3vw, 4rem);
  font-weight: bold;
  z-index: 2;
  display: block;
}
#pageHero .pageHero-title span {
  padding: 0.1em 0;
  line-height: 1.2;
  display: inline-block;
}

/* =========================================================
*.breadcrumb
========================================================= */
.breadcrumbs {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%;
  min-width: 100%;
  overflow-x: auto;
  font-size: 1.2rem;
  white-space: nowrap;
  border-top: 1px solid rgba(132, 145, 158, 0.2);
  border-bottom: 1px solid rgba(132, 145, 158, 0.2);
}
.breadcrumbs a {
  color: black;
}
.breadcrumbs a:hover {
  color: #007EFF;
  text-decoration: underline;
}
.breadcrumbs .current-item {
  font-weight: bold;
}

.entry-header {
  margin-bottom: 30px;
}

.entry-header-inner {
  position: relative;
}

.entry-title {
  padding: 0.6em 0;
  color: #00a2b7;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.4;
  display: block;
}
@media screen and (min-width: 768px ) {
  .entry-title {
    font-size: 3rem;
  }
}

.entry-meta {
  font-size: 1.4rem;
  line-height: 1.4;
}
.entry-meta .posted-on {
  margin-right: 1em;
}
.entry-meta .entry-author {
  margin-right: 1em;
}
.entry-meta .entry-category {
  margin-right: 1em;
}

/*# sourceMappingURL=page.css.map*/