@charset "UTF-8";
@use "config";


/*----------------------------------------------------------------
wordpressのブロックエディターのロードスタイルが実行されています。上書きしたいスタイルを各所変更してください。
---------------------------------------------------------------- */

@use "customize_block/heading.scss";
@use "customize_block/paragraph.scss";
@use "customize_block/list.scss";
@use "customize_block/dl.scss";
@use "customize_block/separator.scss";
@use "customize_block/quote.scss";
@use "customize_block/code-verse-preformatted.scss";
@use "customize_block/button.scss";
@use "customize_block/input.scss";
@use "customize_block/table.scss";
@use "customize_block/shared_widget_styles.scss";
@use "customize_block/shared_media_styles.scss";
@use "customize_block/shortcode.scss";
@use "customize_block/embed.scss";
@use "customize_block/file.scss";
@use "customize_block/image.scss";
@use "customize_block/gallery.scss";
@use "customize_block/group.scss";
@use "customize_block/columns.scss";
@use "customize_block/mediaText.scss";



/*----------------------------------------------------------------
aタグ
---------------------------------------------------------------- */

a {
	color: config.$color-primary;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	color: config.$color-hover;
}






/*============================
.roboCom-hero
============================*/
.roboCom-hero {
	margin-bottom: 30px;

	color: #fff;



	@include config.mq-up(md) {
		display: flex;
		align-items: center;

	}

	.txtArea {
		padding: clamp(15px, 3vw, 30px);
		background-color: config.$color-primary;
		position: relative;
		z-index: 1;

		@include config.mq-up(md) {
			align-self: center;
			width: 45%;
		}
	}

	.imgArea {
		@include config.mq-up(md) {

			width: 55%;
		}

		.imgBox {
			@include config.mq-up(md) {
				position: relative;
				padding-top: 70%;
				margin-left: -5vw;
				width: calc(100% + 5vw);
			}
		}

		img {
			@include config.mq-up(md) {
				object-fit: cover;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	&-cat {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		margin-bottom: 10px;

		a {
			background-color: #fff;
			color: config.$color-primary;
			display: block;
			padding: 0.4em 0.8em;
			font-weight: bold;
			text-decoration: none;
			border-radius: 5px;
			transition: all 0.2s ease;
			line-height: 1;

			&:hover {
				background-color: config.$color-secondary;
				color: #fff;
			}
		}
	}

	&-title {
		font-weight: bold;
		font-size: clamp(2.4rem, 2.6vw, 3rem);
		line-height: 1.4;
		display: block;
		color: #fff;
		margin-bottom: 0.5em;
	}


	&-read {
		font-weight: bold;
		font-size: clamp(1.8rem, 2vw, 2rem);
		line-height: 1.4;
		display: block;
		color: #fff;
		margin-bottom: 0.3em;
	}

	&-intro {
		line-height: 1.6;
		margin-bottom: 0 !important;
	}



}


/*============================
.sectionTitle
============================*/
.sectionTitle {
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;


	.en {
		font-size: clamp(3rem, 3.4vw, 5rem);
		font-weight: bold;
		line-height: 1.2;
		font-family: config.$english;
		color: config.$color-primary;
	}


	.ja {
		font-size: clamp(1.6rem, 2vw, 2.2rem);
		font-weight: bold;
		line-height: 1.2;
		display: block;
		position: relative;
		margin-bottom: 0.2em;
	}

	&.alignleft {
		align-items: flex-start;
	}

	&.alignright {
		align-items: flex-end;
	}
}
