@charset "UTF-8";
@use "config";


@import "editor-style";

/*----------------------------------------------------------------
/* 投稿タイトルの見た目
---------------------------------------------------------------- */

.wp-block.editor-post-title__block {
	max-width: config.$container-max-width-xl;
}

.editor-post-title__block .editor-post-title__input {
	font-family: config.$gothic;
	text-align: left;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.4;
	display: block;

	@include config.mq-up(md) {
		font-size: 3rem;
	}
}




.edit-post-visual-editor__post-title-wrapper {
	margin-bottom: 2em !important;
}

.block-editor-block-list__layout>*[class*="wp-block-"] {
	//margin-bottom: 0.5em;
}

.edit-post-visual-editor__post-title-wrapper>*+*,
.block-editor-block-list__layout.is-root-container>*+* {
	margin-top: intial;
	margin-bottom: intial;
}


.edit-post-visual-editor__post-title-wrapper>*,
.block-editor-block-list__layout.is-root-container>* {
	max-width: 900px;
	margin-left: auto !important;
	margin-right: auto !important;
}
